<table>
    <tr>
        <td >
                {{wishListCount}}
                <img style="width: 50px"alt="Wishlist Icon" src="https://d2g9wbak88g7ch.cloudfront.net/staticimages/wishlist_white.svg">
        </td>
    </tr>
</table>
<div>
    <table>
        <tr>
            <td>Book By Category
                <select #category (change)="veiwAllBooksByCategory(category.value)">
                    <option slected>select </option>
                     <option>Biographies&Memoirs</option>
                     <option >Fiction</option>
                     <option >General</option>
                     <option >History&Humanities</option>
                     <option>Lifestyle</option>
                     <option>Technology&Engineering</option>
                </select>
            </td>
        </tr>
    </table>
</div>
<div>
    <input type="text" #language (click)="veiwBooksByLanguage(language.value)">
</div>

<button type="button" (click)="veiwAllBooks()">Books</button>
<div  style="margin-left: 10%;"  *ngFor="let b of allBooks" >
    <table>
        <tr>
            <td> 
                <img src="/assets/images/{{b.imageName}}" alt="image" width="120px" height="150px">
            </td>
            <td>
                <h2>{{b.title}} </h2>
                <p> {{b.description}} </p>
                <hr/>
                <span><b>Price</b>
                    <span [style]="b.price<2000?priceLowCss:priceNormalCSS" ><i>Rs</i>{{b.price}}</span>  
                    <i *ngIf="b.discount>0"> 
                        with {{b.discount}}% Off 
                        <span *ngIf="b.discount>9">
                            <b style="color:#FFBF00"><u> *Recommended</u></b>
                        </span>
                    </i> 
                </span> 
                <br/>         
            </td>    
        </tr>
    </table>
    <button class="wishlistbutton" value="{{b.bookId}}" (click)="addWishlist(book.value)" #book> Add to Wishlist </button>
   
    <button class="buybutton"value="{{b.bookId}}" (click)="goForBuy(book.value)" #book> Buy</button>
</div>

