<table  style=" width: 100%;height: 10%;">
  <tr>
    <td><h4>image</h4></td>
      <td><h4>image</h4></td>
    <td style="margin-left: 20%;"><h3>Global Book Store</h3></td>
    <td><h4>cart</h4></td>
    <td style="width:15%; text-align: center; "><a routerLink="/profile">Profile</a></td>
  </tr>
</table>
<hr/>

<table style=" width: 100%;height: 10%;">
  <tr>
    <td style="width:15%; text-align: center; ">  <a routerLink="/admin">Admin</a></td>

    <td style="width:15%; text-align: center; ">  <a routerLink="/books">Books</a></td>
    <td style="width: 15%; text-align: center; ">  <a routerLink="/bookCategory"> BookCategory</a></td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/newArrivals">New Arrivals</a></td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/bestSellers">Best Sellers</a></td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/boxSets">Box Sets</a></td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/featuredAuthors">Featured Authors</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/Requestabook"> Request a Book</a>  </td>
    <!--<td style="width: 15%; text-align: center;">  <a routerLink="/ordersList"> All Orders</a>  </td>-->
        <td style="width: 15%; text-align: center;">  <a routerLink="/orderListOnCategory"> Order on category</a>  </td>
        <td style="width: 15%; text-align: center;">  <a routerLink="/order"> orders</a>  </td>

  </tr>
</table>
<hr/>
<router-outlet></router-outlet>
