<div style="margin-left: 15%;width: 5%; height:30%; margin-bottom: 20%;">
    <form>
        <table>
            <tr>
                <td>Enter EmailId</td>
                <input type="email">
            </tr>
            <tr>
                <td>Enter Password</td>
                <input type="text">
            </tr>
            <tr>
                <td>ReEnterPassword</td>
                <input type="text">
            </tr>
            <tr>
                <td>Enter PhoneNumber</td>
                <input type="text">
            </tr>

        </table>
    </form>
</div>
