<div style="margin-left: 15%;width: 5%; height:30%; margin-bottom: 20%;">
    <form>
        <table>
            <tr>
                <td>Enter EmailId</td>
                <input type="text"   name="email" #email required>
		
            
            </tr>
            <tr>
                <td>Enter Password</td>
                <input type="text">
            </tr>
            <tr>
                <td>ReEnterPassword</td>
                <input type="text">
            </tr>
            <tr>
                <td>Enter PhoneNumber</td>
                <input type="text" name="phoneNumber" #phoneNumber required>
           
            </tr>

        </table>
        <button  type="submit" class="btn btn-primary" >SignUp</button>
    </form>
</div>