
<table style="margin-left:25%;width: 100%;">
    <tr>
        <td  style="width:15%; text-align: center; ">  <a routerLink="/signup">Signup</a></td>
        <td  style="width:15%; text-align: center; ">  <a routerLink="/login" >Login</a></td>
        <td style="width:15%; text-align: center; ">  <a routerLink="/address" >Address</a></td>
        <td style="width:15%; text-align: center; ">  <a routerLink="/orders" >Your Orders</a></td>
        <td style="width:15%; text-align: center; ">  <a routerLink="/changePassword" >Change Password</a></td>
    </tr>
</table>