.Wishlist{
    margin-left: 2000%;
}


.buybutton{
    font-family: Lato,sans-serif;
    background: #bc3232;
    color: #fff;
    margin-left: 10%;
}
.wishlistbutton{

    font-family: Lato,sans-serif;
    background: #131212;
    color: #fff;
    margin-left: 5%;
}
